body {
  font-family: Arial, sans-serif;
  font-family: "Bangla", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper {
  position: relative;
  min-height: 83vh;
}

header {
  background-color: #ffffff;
  color: #081e70;
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  width: 97.9%;
}

.logo {
  flex: 0 0 auto;
}

h1 {
  font-size: 40px;
  margin: 0;
  flex: 1;
  text-align: center;
}

.container {
  padding: 20px;
  width: 90%;
  max-width: 800px;
  margin: auto;
  overflow: auto;
}

#quiz,
#break {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
}

#break {
  text-align: center;
  font-weight: bold;
  color: #081e70;
  font-size: 40px;
}

.question {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  height: auto;
  overflow: hidden;
  color: #081e70;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 97.9%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #000000;
  font-size: 25px;
}

.option:hover {
  background-color: #c2c3ff;
}

#timer {
  font-weight: bold;
  color: #081e70;
  font-size: 40px;
}

#question-number {
  font-weight: bold;
  color: #081e70;
  font-size: 40px;
  order: 1;
}

@media (min-width: 768px) {
  header {
    margin-bottom: 3vh;
  }

  .container {
    width: 70%;
    padding: 20px;
  }

  #quiz {
    padding: 30px;
  }

  #break {
    display: none;
  }

  .question {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .option {
    padding: 25px;
    margin-bottom: 15px;
    font-size: 25px;
  }

  #timer,
  #question-number {
    font-size: 30px;
  }
}

/*Landing Page*/
.landing-page {
  background-size: cover;
  background-position: center;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
}

.landing-content {
  text-align: left;
  text-align: justify;
  max-width: 90%;
  margin-bottom: 20px;
}

.landing-content h2 {
  font-size: 32px;
}

.landing-content p {
  font-size: 18px;
  margin-bottom: 15px;
}

.btn {
  font-size: 20px;
  padding: 12px 24px;
  background-color: #ffffff;
  color: #081e70;
  border: black;
  border-radius: 110px;
  cursor: pointer;
}

.btn:hover {
  transition: 0.3s;
  background-color: #dcdcf3;
}

@media (min-width: 768px) {
  .landing-content {
    max-width: 70%;
  }
}
